format = "v1"

[metadata]
desc = "RevyOS 20240202 image for Sipeed Lichee Console 4A"
vendor = { name = "Sipeed", eula = "" }

[[distfiles]]
name = "boot-lpi4a-20240202_141632.ext4.lz4"
size = 61113476
urls = [
  "https://github.com/0x754C/sipeed-th1520-laptop-extra/releases/download/20240319/boot-lpi4a-20240202_141632.ext4.lz4",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "a5fdbe1862e9afa563e087a94f6d735ad9dd47621d20f5552b0df7c763da784b"
sha512 = "667eb433029a707982bbcbb21a813b1aadcdb626af0830625672a58224f62d5bf9910afc712cdf496a0f6c1fd855c9f2b93f81c6713488eb6ea0893a9baa036f"

[[distfiles]]
name = "root-lpi4a-20240202_141632.ext4.lz4"
size = 1754269082
urls = [
  "https://github.com/0x754C/sipeed-th1520-laptop-extra/releases/download/20240319/root-lpi4a-20240202_141632.ext4.lz4",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "4a1a5c78cdbdba40dcd1049127362f627a6d9b72b624366fbcc27f85ff61c2a0"
sha512 = "7f9e545905776a7e0fb84b8eef77c1fd8722ca1de46bcd815019fab7ee4f7217ce2e3daa620846d240fcb6262d761d60e7cbce2db33a0830af50ed2bf636faae"

[blob]
distfiles = [
  "boot-lpi4a-20240202_141632.ext4.lz4",
  "root-lpi4a-20240202_141632.ext4.lz4",
]

[provisionable]
strategy = "fastboot-v1"

[provisionable.partition_map]
boot = "boot-lpi4a-20240202_141632.ext4"
root = "root-lpi4a-20240202_141632.ext4"
