format = "v1"

[metadata]
desc = "Official FreeBSD 14.0 RELEASE riscv64 live image"
vendor = { name = "FreeBSD", eula = "" }
upstream_version = "14.0"

[[distfiles]]
name = "FreeBSD-14.0-RELEASE-riscv-riscv64-mini-memstick.img.xz"
size = 73746532
urls = [
  "mirror://freebsd-old-releases/riscv/riscv64/ISO-IMAGES/14.0/FreeBSD-14.0-RELEASE-riscv-riscv64-mini-memstick.img.xz",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "060b0411d086c093835918c6b76996451619bf676f51a1368b15f472354f0cff"
sha512 = "396e1e42bc7d1eb360864cd56818c2c2cf3235572a0488320089de48e36671f479f75176f4d70a2b619cce6c5210ad3cc04d57df1d23c7682f136c329f98e8f7"

[blob]
distfiles = [
  "FreeBSD-14.0-RELEASE-riscv-riscv64-mini-memstick.img.xz",
]

[provisionable]
strategy = "dd-v1"

[provisionable.partition_map]
live = "FreeBSD-14.0-RELEASE-riscv-riscv64-mini-memstick.img"
