format = "v1"

[metadata]
desc = "RevyOS 20250123 image for Milk-V Meles"
vendor = { name = "Milk-V", eula = "" }
upstream_version = "20250123"

[[metadata.service_level]]
level = "good"

[[distfiles]]
name = "boot-meles-20250123_071145.ext4.zst"
size = 74341376
urls = [
  "https://mirror.iscas.ac.cn/revyos/extra/images/meles/20250123/boot-meles-20250123_071145.ext4.zst",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "bd0d74f971d0ceda3e0a15fe6c0453d25d7285e8269e3c74b16e8d65f397e18d"
sha512 = "1befc69e3ea14d033fa8502a89f3f0068951935cbdcf29730d1ea4a0bff518630cb2630e9243f1c8a6d260f6ed72fc309d067a13ae28e851b89b054d7fe576b4"

[[distfiles]]
name = "root-meles-20250123_071145.ext4.zst"
size = 1328646012
urls = [
  "https://mirror.iscas.ac.cn/revyos/extra/images/meles/20250123/root-meles-20250123_071145.ext4.zst",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "940109ee4caa06a8547f7b8d6c0d27b0226a3962868fb12f3c275f4d9997b473"
sha512 = "23615dc96010819a57698e05cc2d5e02195f39221050a0a13165a1089c950f354e9e9b0616885c8ba6b556f7ff84d47c2fd45517f0ab8e6ecb6bfcd28103a481"

[blob]
distfiles = [
  "boot-meles-20250123_071145.ext4.zst",
  "root-meles-20250123_071145.ext4.zst",
]

[provisionable]
strategy = "fastboot-v1"

[provisionable.partition_map]
boot = "boot-meles-20250123_071145.ext4"
root = "root-meles-20250123_071145.ext4"
