format = "v1"

[metadata]
desc = "RevyOS 20250323 image for Milk-V Meles"
vendor = { name = "Milk-V", eula = "" }
upstream_version = "20250323"

[[metadata.service_level]]
level = "good"

[[distfiles]]
name = "boot-meles-20250323_154525.ext4.zst"
size = 73226669
urls = [
  "https://mirror.iscas.ac.cn/revyos/extra/images/meles/20250323/boot-meles-20250323_154525.ext4.zst",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "2b4308f25edba120dcf99d8d033dcf12196062126a3db764cbd449e29dc7fde4"
sha512 = "d7d716848e1a3a7b7094e34771dc7d83824a4bcd1a150ae1550042a61ef168d5ca7f8b98aaa11a72e3f202560afe9f29d34bd171379332077b2933909b3ad1a8"

[[distfiles]]
name = "root-meles-20250323_154525.ext4.zst"
size = 1320473059
urls = [
  "https://mirror.iscas.ac.cn/revyos/extra/images/meles/20250323/root-meles-20250323_154525.ext4.zst",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "d2851a330fecd334314d6388f3014ca58a679d50e05c9c026a287622a2b7aafc"
sha512 = "aa6f91bd329fce35f2741a60908982d59a7e5a0cb4cde77f5bb15f2749e7e24670d5c6b1afa07133c6fca8a21ed9041fa8cb808f5d5e6b7e18802061442fad9b"

[blob]
distfiles = [
  "boot-meles-20250323_154525.ext4.zst",
  "root-meles-20250323_154525.ext4.zst",
]

[provisionable]
strategy = "fastboot-v1"

[provisionable.partition_map]
boot = "boot-meles-20250323_154525.ext4"
root = "root-meles-20250323_154525.ext4"
