format = "v1"

[metadata]
desc = "RuyiSDK Box64 Build (Upstream 0.2.8, built by PLCT)"
vendor = { name = "PLCT", eula = "" }

[[distfiles]]
name = "box64-upstream-0.2.8.ruyi-20240702.arm64.tar.zst"
size = 7580842
strip_components = 2

[distfiles.checksums]
sha256 = "5f750127e990413647f48bda2b049ae546cfbf4a5e40a88e4f1452f380d292a0"
sha512 = "a49ab31910c00e84ff15881e051a06b0b217502392d4003a86c0db7db966566f095fff28669c6231c6a0f7685ba9183086f464977e220d9e19a472c9413e5a44"

[[distfiles]]
name = "box64-upstream-0.2.8.ruyi-20240702.riscv64.tar.zst"
size = 7367534
strip_components = 2

[distfiles.checksums]
sha256 = "065175168a8d51af9da975ce7f58a019f1c7aafa879e34c39f9bbd3cfa1af573"
sha512 = "92b74412289ec22fa2cfdc7845ca614c3b8299e818c6dda168ed135e073ac0af4756cf2dc7165b1e0b6b12c24261ccee971c50dd4751df040b4efcd3aec1fc86"

[[binary]]
host = "aarch64"
distfiles = ["box64-upstream-0.2.8.ruyi-20240702.arm64.tar.zst"]

[[binary]]
host = "riscv64"
distfiles = ["box64-upstream-0.2.8.ruyi-20240702.riscv64.tar.zst"]

[emulator]

[[emulator.programs]]
path = "bin/box64"
flavor = "box64-linux-user"
supported_arches = ["x86_64"]
binfmt_misc = ":ruyi-box64:M::\\x7fELF\\x02\\x01\\x01\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x02\\x00\\x3e\\x00:\\xff\\xff\\xff\\xff\\xff\\xff\\xff\\x00\\x00\\x00\\x00\\xff\\xff\\xff\\xff\\xff\\xfe\\xff\\xff\\xff:$BIN:"
