format = "v1"

[metadata]
desc = "RuyiSDK Box64 Build (Upstream 0.2.8, built by PLCT)"
vendor = { name = "PLCT", eula = "" }

[[distfiles]]
name = "box64-upstream-0.2.9-pre.ruyi.20240702+git.4b0b3fc9.arm64.tar.zst"
size = 8089938

[distfiles.checksums]
sha256 = "308491fe33e4804ea4add4dedb35b4c40e5943308a1194584224734b9b81b0b1"
sha512 = "9f4b6be1e436592f02a91d032d952b51a3825654fe6882c8e2c66bef40ff680aeafeb5346f985735c4f89806f7762b323b40f4f6d94f4b8b561e9ec6fa69b8b4"

[[distfiles]]
name = "box64-upstream-0.2.9-pre.ruyi.20240702+git.4b0b3fc9.riscv64.tar.zst"
size = 7622166

[distfiles.checksums]
sha256 = "a171d3c31bd1d1e3285d358338357b377862d3b484aeb5381e8a545d75c7efc9"
sha512 = "ec055d937eb1303eee1d2ccf0de268120b176903d389768294a2c4090ac0b7c95565d63c045818fd8e49b649ec2e66800b9e146dd28bd88ff8fcfeace2e8ebc9"

[[binary]]
host = "aarch64"
distfiles = ["box64-upstream-0.2.9-pre.ruyi.20240702+git.4b0b3fc9.arm64.tar.zst"]

[[binary]]
host = "riscv64"
distfiles = ["box64-upstream-0.2.9-pre.ruyi.20240702+git.4b0b3fc9.riscv64.tar.zst"]

[emulator]

[[emulator.programs]]
path = "bin/box64"
flavor = "box64-linux-user"
supported_arches = ["x86_64"]
binfmt_misc = ":ruyi-box64:M::\\x7fELF\\x02\\x01\\x01\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x02\\x00\\x3e\\x00:\\xff\\xff\\xff\\xff\\xff\\xff\\xff\\x00\\x00\\x00\\x00\\xff\\xff\\xff\\xff\\xff\\xfe\\xff\\xff\\xff:$BIN:"
