format = "v1"

[metadata]
desc = "RuyiSDK Box64 Build (Upstream 0.3.0, built by PLCT)"
vendor = { name = "PLCT", eula = "" }

[[distfiles]]
name = "box64-upstream-0.3.0-ruyi.20240718.arm64.tar.zst"
size = 9075993
strip_components = 2

[distfiles.checksums]
sha256 = "d9f01dfa3862fbf2c103124d6b18ab79afe93b9552255e24e445de74b35f2fc5"
sha512 = "607924209d6ba05c01211f3cfe95a043ff7c9aef56793a350fff2b107422d6376b3ae2892ce04a8221881626ee6c98b5ba9a18d0775267d17ab6f8573f57e5ba"

[[distfiles]]
name = "box64-upstream-0.3.0-ruyi.20240718.riscv64.tar.zst"
size = 8620238
strip_components = 2

[distfiles.checksums]
sha256 = "55e43643adccbd1549ec237e5554c12cbacc99c0defdb61cc37137eb611fce99"
sha512 = "b75d3a6b41e8145bdad8b65f3270be2a6324cbb8d833f3d38459f68272b34e29d07522ea0e29f7fd6b79f3881ab3ea12ef4452a72a2fe04afa3044c63033033a"

[[binary]]
host = "aarch64"
distfiles = ["box64-upstream-0.3.0.ruyi-20240718.arm64.tar.zst"]

[[binary]]
host = "riscv64"
distfiles = ["box64-upstream-0.3.0.ruyi-20240718.riscv64.tar.zst"]

[emulator]

[[emulator.programs]]
path = "bin/box64"
flavor = "box64-linux-user"
supported_arches = ["x86_64"]
binfmt_misc = ":ruyi-box64:M::\\x7fELF\\x02\\x01\\x01\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x02\\x00\\x3e\\x00:\\xff\\xff\\xff\\xff\\xff\\xff\\xff\\x00\\x00\\x00\\x00\\xff\\xff\\xff\\xff\\xff\\xfe\\xff\\xff\\xff:$BIN:"
