format = "v1"

[metadata]
desc = "U-Boot image for Sipeed Lichee Console 4A (8G RAM) and RevyOS 20240202"
vendor = { name = "Sipeed", eula = "" }

[[distfiles]]
name = "u-boot-with-spl-console8g.bin"
size = 1008216
urls = [
  "https://github.com/0x754C/sipeed-th1520-laptop-extra/releases/download/20240319/u-boot-with-spl-console8g.bin",
]
unpack = "raw"
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "c82956d7f0e44b304fd5de4ca5c1545bfcebcb6686e3fda1f0c831789fedffd3"
sha512 = "be2c06b59b6dc057bf520177ddab530cfb040574fc8afc0deaef10519164ceec0bab17de0e8789491ebe6c3fd30ce614b73e274bafd79d0283e84d3c19b89a73"

[blob]
distfiles = [
  "u-boot-with-spl-console8g.bin",
]

[provisionable]
strategy = "fastboot-v1(lpi4a-uboot)"

[provisionable.partition_map]
uboot = "u-boot-with-spl-console8g.bin"
