format = "v1"

[metadata]
desc = "RevyOS 20240601 image for Sipeed LicheePi 4A"
vendor = { name = "PLCT", eula = "" }
upstream_version = "20240601"

[[distfiles]]
name = "boot-lpi4a-20240601_180941.ext4.zst"
size = 28554937
urls = [
  "https://mirror.iscas.ac.cn/revyos/extra/images/lpi4a/20240601/boot-lpi4a-20240601_180941.ext4.zst",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "78651f4ca18f72cee9df77f8ed27508ab76d756e2171f44bec552f6f6c202472"
sha512 = "16dfc0ae4ada1e13cbaea7cf309cb552f885dddd5507c215f407b81b4ff722b490d0e997d07b2ff8719f6dcf0995e104d27d0495e68a2b3dd4114c746ad86be9"

[[distfiles]]
name = "root-lpi4a-20240601_180941.ext4.zst"
size = 1259026025
urls = [
  "https://mirror.iscas.ac.cn/revyos/extra/images/lpi4a/20240601/root-lpi4a-20240601_180941.ext4.zst",
]
restrict = ["mirror"]

[distfiles.checksums]
sha256 = "4f12c7931e8f2a8c29a3658db8710a8e34f5f313f45cb1b7ee10e20494b5d096"
sha512 = "4b449c3a8da4ef0b76cee479925cd1e60ed73dd8c89a8c032af9f5d27026ca2a59cbfa3e5bd06d6c4f17e9fc2e19b2b37842ce9a3dd37c617af736c155ce27f7"

[blob]
distfiles = [
  "boot-lpi4a-20240601_180941.ext4.zst",
  "root-lpi4a-20240601_180941.ext4.zst",
]

[provisionable]
strategy = "fastboot-v1"

[provisionable.partition_map]
boot = "boot-lpi4a-20240601_180941.ext4"
root = "root-lpi4a-20240601_180941.ext4"
